
.global {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 6em;
  margin-left: 22em;
  margin-right: 22em;
}
div.career.position {
  display: flex;
  justify-content: center;
}
div.global.career {
  width: 65em;
}
h1.career {
  border-bottom: solid;
  border-radius: 0;
}
div.career.intro {
  background-color: rgba(199, 161, 139, 1);
  padding: 0.05em 0 1em 1em;
  margin-bottom: 1em;
}
div.career.skillsplaces {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5em;
  margin-bottom: 5em;
}
div.career.skills {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 49%;
}
div.career.divideline {
  border-right: solid 6px rgba(127, 146, 164, 1);
  border-left: solid 6px rgba(127, 146, 164, 1);
  background-color: rgba(127, 146, 164, 1);
  margin: 0 1em 0 1em;
  padding: 0;
  width: 0%;
}
div.career.places {
  padding-left: 0em;
  display: flex;
  flex-direction: column;
  width: 49%;
}


/* This divides all major sections with an underline and shadow */
.executiveSum--underline {
    border-bottom: 4px solid black;
    box-shadow: 0 10px 6px -6px #777;
}
/* This gives universal bakground color and margin */
.executiveSum--margin {
    background-color: whitesmoke;
    width: 40em;
}
/* This is the David Bowie intro Box */
div.exSum__img {
    float: left;
    width: 48%; 
}
img.exSum__img {
    max-width: 100%;
    height: auto;
}
/* These are the commands for Floating the Intro Section */
.containerExSum {
    position: relative;
    text-align: center;  
}
div.centeredAlias {
    position: absolute;
    top: 84%;
    left: 41%;  
}
div.centeredCollab {
    position: absolute;
    top: 89%;
    left: 33%;
}
div.centeredImg {
    position: absolute;
    color: whitesmoke;
    top: 89%;
    left: 7%;
}
/* This is the Aliases Box Info */
div.exSum__aliases {
    float:right;
    margin-bottom: 5px;
    width: 48%;
    background-color: rgba(127,146, 164, 0.4);
}
img.exSum__aliases {
    max-width: 75%;
    height: auto;
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2.exSum__aliases {
    font-size: 10px;
}
/* This is the Colaboration box into */
div.exSum__collab {
    float: right;
    width: 48%;
    margin-top: 5px;
    background-color: rgba(199, 161, 139, 0.4);
}
img.exSum__collab{
    max-width: 82%;
    height: auto;
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2.exSum__collab {
    font-size: 10px;
}
/* This to Stop the Float formated header  */
.executiveSum--clearfix {
    clear: both;
}
/* This is the bigBox container where I started using Flexbox for Rows in Aliases Section */
.exSum__aliases_bigBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid black;  
}
/* This is the first child of the bigBox container*/
.aliases_one {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    margin-bottom: 1em;
    /* border: 2px solid black;  */
}
.aliases_one div {
    background-color: rgba(127,146, 164, 0.4);
    margin: .5em;
    padding: .5em;
    /* border: 2px solid black; */
}
.aliases_one h1 {
    color: black;
    font-size: 10px;
    text-align: center;
}
/* This is the second child of the bigBox  */
.aliases_two {
    display: flex;
    justify-content:space-evenly ;
    margin-bottom: 1em;
    max-width: 100%;
}
.aliases_two div {
    background-color: rgba(127,146, 164, 0.4);
    margin: 1em;
    padding: 1em;
    max-width: 50%;
    /* border: 2px solid black; */
}
.aliases_two h1 {
    color: black;
    font-size: 10px;
    text-align: center;
}
/* Here are all the styleings of the IMAGES for Aliases Section  */
img.exSum__aliases_ziggyStardust {
    max-width: 250px;
}
img.exSum__aliases_aladdinSane {
    max-width: 250px;
}
img.exSum__aliases_theThinWhiteDuke {
    max-width: 250px;
}
img.exSum__aliases_theGoblinKing {
    max-width: 300px;
}
img.exSum__aliases_theBlindProphet {
    max-width: 300px;
    height: 200px;
}
/* THIS IS THE COLLABORATION SECTION  */
/* This is the bigBox container where I started using Flexbox for Rows in Aliases Section */
.exSum__collaborations_bigBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    border: 2px solid black;
}
/* This is the first child of the bigBox container*/
.collaborations_one {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    margin-bottom: 1em;
    /* border: 2px solid black;  */
}
.collaborations_one div {
    background-color: rgba(199, 161, 139, 0.4);
    margin: .5em;
    padding: .5em;
    /* border: 2px solid black; */
}
.collaborations_one h1 {
    color: black;
    font-size: 10px;
    text-align: center;
}
/* This is the second child of the bigBox  */
.collaborations_two {
    display: flex;
    justify-content:space-evenly ;
    margin-bottom: 1em;
    max-width: 100%;
}
.collaborations_two div {
    background-color: rgba(199, 161, 139, 0.4);
    margin: 1em;
    padding: 1em;
    max-width: 50%;
    /* border: 2px solid black; */
}
.collaborations_two h1 {
    color: black;
    font-size: 10px;
    text-align: center;
}
ul.career {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}
li.career.divided {
  background-color: rgba(91, 93, 95, .8);
  padding: 1em;
  margin-bottom: 1em;
  justify-self: center;
}
ul.career.works {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
h3.career.works {
  text-align: center;
  margin-bottom: 0;
}
img.career.works {
  width: 188px;
  align-self: center;
}
li.career.works {
  background-color: rgba(148, 140, 133, 1);
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 18em;
}
p.career.works {
  padding: 1em;
}
.career {
  border-radius: 0.5em;
}
/* rgba(127, 146, 164, 1) */
/* rgba(91, 93, 95, 1) */
/* rgba(199, 161, 139, 1) */
/* rgba(148, 140, 133, 1) */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav {
    display: flex;
    flex-flow: column;
    margin: 0%;
    padding: 0;
    list-style: none;
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
}
.nav-item {
    text-decoration: none;
    display: block;
    padding: 1em;
    font-size: 16pt;
    color: white;
    text-decoration: none;
    margin-top: 2em;
    margin-left: 3em;
}
.nav-item a {
    text-decoration: none;
    color: white;
}
.site-wrap {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    /* background-image: url(https://s3-eu-central-1.amazonaws.com/centaur-wp/creativereview/prod/content/uploads/2015/11/Blackstar-grid.png);
    background-repeat: repeat-y; */
    background-color: whitesmoke;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 0.1em;
    background-size: 200%;
}
.nav-trigger {
    position: absolute;
    clip: rect(0,0,0,0);
}
label[for="nav-trigger"] {
    margin-top: em;
    margin-left: 3em;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-image: url(https://image.flaticon.com/icons/svg/2089/2089423.svg);
    background-size: contain;
}
.nav-trigger:checked + label {
    left: 415px;
}
.nav-trigger:checked ~ .site-wrap {
    left: 400px;
}
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}
/* Example content for page-name class container*/
.page-name {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.page-name .container {
    width: 60em;
}
/* THis is the style information for news-feed.htm;  */

.news-feed {
    width: 40em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.news-feed .wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
}
.news-feed .line {
    height: 1em;
    width: 100%;
    border-radius: 1em;
    background-color: black;
}
.news-feed .container-first {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    height: 26em;
}
.news-feed .container-first img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}
.news-feed .container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    height: 26em;
}
.news-feed .container img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}
.news-feed .line-vertical {
    width: 1em;
    height: 5em;
    border-radius: 1em;
    background-color: rgb(0, 0, 0);
}
.news-feed .content-container {
    border-radius: 1em;
    width: 80%;
    height: 65%;
    background-color: gray;
}
.news-feed .content-right {
    border: 1px solid black;
    border-radius: 1em;
    width: 19%;
    background-color: white;
}
.news-feed .content-right ul {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}
.news-feed .content-right li {
    text-decoration: none;
    font-size: 12pt;
    display: flex;
    align-items: center;
    padding: 10px;
}
.news-feed .content-right img {
    width: 60%;
}
.news-feed .content-right .type {
    display: flex;
    justify-content: center;
    background-color:whitesmoke ;
    border-radius: 1em;
    margin-left: 5px;
    margin-right: 10px;
}
.news-feed .content-textbox {
    border: 1px black solid;
    border-radius: 1em;
    width: 100%;
    height: 35%;
    background-color: white
}
.news-feed .content-textbox p {
    margin: 1em;
    font-size: 14pt;
}
.page-name .container {
    width: 60em;
}
.news-feed .content-textbox .hashes {
    margin: 1em;
    font-size: 14pt;
}
