.global {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 6em;
    margin-left: 22em;
    margin-right: 22em;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav {
    display: flex;
    flex-flow: column;
    margin: 0%;
    padding: 0;
    list-style: none;
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
}
.nav-item a {
    text-decoration: none;
    color: white;
}
.nav-item {
    display: block;
    padding: 1em;
    font-size: 16pt;
    color: white;
    text-decoration: none;
    margin-top: 2em;
    margin-left: 3em;
}
.site-wrap {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    /* background-image: url(https://s3-eu-central-1.amazonaws.com/centaur-wp/creativereview/prod/content/uploads/2015/11/Blackstar-grid.png);
    background-repeat: repeat-y; */
    background-color: rgb(244, 242, 242);
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 0.1em;
    background-size: 200%;
}
.nav-trigger {
    position: absolute;
    clip: rect(0,0,0,0);
}
label[for="nav-trigger"] {
    margin-top: em;
    margin-left: 3em;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-image: url(https://image.flaticon.com/icons/svg/2089/2089423.svg);
    background-size: contain;
}
.nav-trigger:checked + label {
    left: 415px;
}
.nav-trigger:checked ~ .site-wrap {
    left: 400px;
}
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}
.news-feed {
    width: 40em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.news-feed .wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
}
.news-feed .line {
    height: 1em;
    width: 100%;
    border-radius: 1em;
    background-color: black;
}
.news-feed .container-first {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    height: 26em;
}
.news-feed .container-first img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}
.news-feed .container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    height: 26em;
}
.news-feed .container img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}
.news-feed .line-vertical {
    width: 1em;
    height: 5em;
    border-radius: 1em;
    background-color: rgb(0, 0, 0);
}
.news-feed .content-container {
    border-radius: 1em;
    width: 80%;
    height: 65%;
    background-color: gray;
}
.news-feed .content-right {
    border: 1px solid black;
    border-radius: 1em;
    width: 19%;
    background-color: white;
}
.news-feed .content-right ul {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}
.news-feed .content-right li {
    font-size: 14pt;
    display: flex;
    align-items: center;
    padding: 0.5em;
}
.news-feed .content-right img {
    width: 30%;
}
.news-feed .content-textbox {
    border: 1px black solid;
    border-radius: 1em;
    width: 100%;
    height: 35%;
    background-color: white
}
.news-feed .content-textbox p{
    margin: 1em;
    font-size: 14pt;
}
.news-feed .content-textbox .hashes {
    margin: 1em;
    font-size: 14pt;
}